# Telegram Bot Configuration
BOT_TOKEN=8618531780:AAHZX_QbKemqGtmtqhF4tV8YmMYRe9m50BE
BOT_USERNAME=Promote_Master_Bot
ADMIN_IDS=5321217887

# Channel Configuration
REQUIRED_CHANNEL=@FalcoWallet_Announcements
REQUIRED_CHANNEL_LINK=https://t.me/FalcoWallet_Announcements

# Bot Settings
SUBSCRIPTION_DAYS=7
PENALTY_PERCENT=50
DAILY_BONUS=10

# Hosting
PORT=8080
